/dist/
/build/bin/
frontend/dist/*
!frontend/dist/.gitkeep
frontend/wailsjs/go/
frontend/node_modules/
frontend/package.json.md5
node_modules/
.codebuddy/
.superpowers/
.worktrees/
.playwright-cli/
.workbuddy/
.csdn-profile/
/docs/
/out/
.cursor/
.github/workflows/*
!.github/workflows/release.yml
!.github/workflows/ci.yml
*.exe
*.test
*.tmp
*.log
AGENTS.md
